<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />


		<section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
	<connectionStrings>
		<add name="guiShell" connectionString=""/>
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		
    <add key="PreserveLoginUrl" value="true" />

		<add key="addApplicationUrlPatterns" value="GuiShell/Config,GUIShell/config.xml,GUIShell/config.aspx,GUIShell/config.htmx" />
		<add key="forgotPasswordSubject" value="Reset your password" />
		<add key="forgotPasswordBody" value="Hello,{newline}{newline}You are receiving this message because you or somebody else has attempted to reset your password. If you did not request a new password please disregard this message.{newline}{newline}To reset your password, please visit:{newline}{newline}{token}{newline}{newline}Note that for security purposes, this link will expire after one hour and can be used only once. If you need to change your password a second time, please obtain a new link by visiting the password reset page.{newline}{newline}Thanks" />

		<!-- Token security -->
		<add key="symmetricEncryptionPassword" value="YOUR_ENCRYPTION_PASSWORD" />
		<add key="symmetricEncryptionSalt" value="YOUR_ENCRYPTION_SALT" />

		<add key="installerUiEnabled" value="true" />

		<!--<add key="StorageProvider" value="SqlServer" />-->
		<add key="StorageProvider" value="MongoDb" />

		<add key="guishell:adminApiSecret" value="YOUR_KEY_HERE" />
		<add key="guishell:adminApiHttps" value="true" />
		<add key="guishell:cookieName" value="guiShellAuth" />
		<add key="guishell:sessionTimeout" value="01:00:00" />
		<add key="guishell:sessionSlidingExpiration" value="true" />
		<add key="guishell:longLastingSessionTimeout" value="14.00:00:00" />
		<add key="guishell:longLastingSessionSlidingExpiration" value="true" />
		<add key="guishell:cookieDomain" value="" />
		<!-- SameAsRequest, Never, Always -->
		<add key="guishell:cookieSecure" value="Always" />

		<!-- Default mongodb storage connection string read options, you can override this settings in the configuration -->
		<add key="guishell:storageReadOptions" value="maxPoolSize=500&amp;readPreference=primaryPreferred" />

	</appSettings>
	<dotless minifyCss="true" cache="true" web="false" />
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<sessionState mode="Off" />
		<globalization uiCulture="en" culture="en-US" />
		<compilation targetFramework="4.5">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<authentication mode="None" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<!-- Used to disable cache for some client call (es. OutputCache(CacheProfile="NoCache") ) -->
					<add name="NoCache" duration="0" varyByParam="*" location="None" noStore="true" />
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
		<customErrors mode="RemoteOnly" defaultRedirect="~/Errors/GenericError">
			<error statusCode="404" redirect="~/Errors/Error404/" />
		</customErrors>
		
		<!--when installing on web farm you should set the same machine key on every servers-->
		<machineKey 
		  validationKey="91D97EDE06DA2177BDCB528E5BA9194423165BC84315371CCA95E84D1AC77525F508932E0A0E0E1AEA8B1144AD8E45A437BC574750E90668A0688A8AD265315A"
		  decryptionKey="41D079EF0D7C091E8EBCA4D0582341726FB729949E482CA9D160F9A5A3FD51D7"
		  validation="SHA1" decryption="AES"
		/>
		<httpHandlers>
			<add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
		</httpHandlers>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="platforms.team.webplu@deltatre.com">
				<network host="YOUR_SMTP" defaultCredentials="true" userName="" password="" enableSsl="true" port="465"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="FormsAuthentication" />
		</modules>
		<httpProtocol>
			<customHeaders>

				<!-- P3P Header is used to allow third-party cookies for Internet Explorer.
						 See also: 
						 http://tfs.deltatre.it/sites/D3Alm/Deltatre.Framework/WebPLU/SitePages/Third-party%20cookies%20and%20Compact%20Security%20Policy%20(P3P).aspx  -->
				<remove name="P3P" />
				<add name="P3P" value="CP=&quot;This is not a privacy policy!​&quot;" />

				<remove name="X-Powered-By" />

				<remove name="X-Frame-Options" />
				<add name="X-Frame-Options" value="deny" />
				<remove name="X-XSS-Protection" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				<remove name="X-Content-Type-Options" />
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>


		<handlers>
			<add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>

		<rewrite>
			<rules>
				<rule name="Force HTTPS" enabled="true">
					<match url="(.*)" ignoreCase="false"/>
					<conditions>
						<add input="{HTTPS}" pattern="off"/>
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<!-- Enable Owin (oauth) log
<system.diagnostics>
	<switches>
	 <add name="Microsoft.Owin" value="Verbose" />
	</switches>
	<trace autoflush="true" />
		<sources>
			<source name="Microsoft.Owin">
				<listeners>
					<add name="file" 
							 type="System.Diagnostics.TextWriterTraceListener" 
							 initializeData="traces.log" />
				</listeners>
			</source>

		</sources>
</system.diagnostics>-->
</configuration>
